<ion-header>
  <ion-navbar>
    <ion-title>
      Drag & Drop
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-6 class="left">
      <div class="header">First Bucket</div>
      <ion-list [dragula]='"my-bag"' [dragulaModel]="q1">
        <button ion-item *ngFor="let item of q1" detail-none>
          {{item}}
        </button>
      </ion-list>
    </ion-col>

    <ion-col col-6 class="right">
      <div class="header">Second Bucket</div>
      <ion-list [dragula]='"my-bag"' [dragulaModel]="q2">
        <button ion-item *ngFor="let item of q2" detail-none>
          {{item}}
        </button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
